.backimg{
    background: url(../assets/img/nova_register.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: -70px;
    background-position-y: -50px;
}

#titulo{
    transition-duration: 1s;
    margin-top: 100px;
    width: 60%;
}
