.backimg{
    background: url(../assets/img/nova_register.jpg);
    background-size: auto auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    margin: auto;
}

#titulo{
    transition-duration: 1s;
    margin-top: 550px;
    width: 60%;
}

#titulo::before{
    margin-top: -500px;
}

html{
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}